<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserAdmin">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8080/hello" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserAdmin" contract="ServiceReference.IUserAdmin"
                name="BasicHttpBinding_IUserAdmin" />
        </client>
    </system.serviceModel>
</configuration>